// 使用哪种rest方案待定
@import "./lib-base.less";
* {
  box-sizing: border-box;
}
#app,
body,
html {
  position: relative;
  margin: 0;
}

::-webkit-scrollbar {
  // width: 0px;
  display: none;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

body {
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  font: 14px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1 0 auto;
}

button,
input,
select,
textarea {
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: none;
  border: none;
  -webkit-appearance: none;
  font-size: 14px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 0 auto;
  position: relative;
  // max-width: 375px;
  width: 100%;
  min-height: 352px;
  font-size: 14px;
  overflow: hidden;
  // background-image: @c_bg_linear;
  background-color: @c_bg;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease;
}
/* .fade-leave-active in <2.1.8 */
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.mu-snackbar {
  min-width: 375px;
  flex-wrap: nowrap;
  .mu-snackbar-message {
    flex: 1 1 auto;
    word-break: break-all;
  }
  .mu-snackbar-action {
    flex: 0 0 auto;
  }
}
// .mu-loading-wrap {
//   .mu-circular-progress,.mu-circle-wrapper {
//     width: 48px !important;
//     height: 48px !important;
//   }
//   .mu-circle {
//     border-width: 3px !important;
//   }
// }
